---
const PROJECTS = [
  {
    title: "Proyecto Autenticos",
    description:
      "Proyecto realizado con un colega, para facilitar la venta y organización de mentorseias. Donde los usuarios van a poder comprar la cantidad de mentorias que necesiten.",
    link: "https://autenticos.onrender.com",
    image: "../../autenticos.webp",
    tags: [
      "[HTML]",
      "[React]",
      "[JavaScript]",
      "[TailwindCSS]",
      "[NodeJS]",
      "[Mongoose]",
      "[MongoDB]",
      "[Mercado Pago API]",
    ],
  },
  {
    title: "Proyecto Individual",
    description:
      "Proyecto de practica Individual donde puse a prueba todos los conocimientos adquiridos anteriormente",
    Github: "https://github.com/NTiago-s/PI-Videogames-Henry",
    image: "../../videoGamesImage.webp",
    tags: [
      "[HTML]",
      "[CSS]",
      "[React]",
      "[JavaScript]",
      "[Redux]",
      "[NodeJS]",
      "[Sequelize]",
      "[PostgresSQL]",
    ],
  },
  {
    title: "Primer Proyecto que realice.",
    description:
      "Es un proyecto con el que comenze aprendiendo las bases tanto de React, JavaScript , Css , HTML. Asi como tambien dando mis primeros pasos en el backend y database .",
    video:
      "https://www.linkedin.com/in/tiago-navarro-30bba2291/recent-activity/all/",
    Github: "https://github.com/NTiago-s/Rick-and-morty-project",
    image: "../../rickimage.webp",
    tags: [
      "[HTML]",
      "[CSS]",
      "[React]",
      "[Redux]",
      "[JavaScript]",
      "[NodeJS]",
      "[Sequelize]",
      "[PostgresSQL]",
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, link, Github, image, tags, video }) => (
    <article class="gap-6 flex mt-6 mb-10 flex-col lg:flex-row justify-center items-center  w-full  lg:w-[1000px] mx-auto">
      <div>
        <h3 class="text-2xl lg:text-2xl text-white mb-4">
          <span class="text-yellow-200/90">{title}</span>
        </h3>
        <img
          src={image}
          alt="imagen proyecto"
          class="max-w-[600px]  w-full md:w-auto h-72 md:h-auto "
        />
      </div>
      <div class="flex flex-col">
        <p class="text-balance text-sm lg:text-base text-white mt-3">
          {" "}
          {description}
        </p>

        <span class="justify-center xl:mx-auto">
          <h3 class="mr-2 mt-4 text-yellow-200/90">Tecnologias Usadas: </h3>
          <ul class="flex gap-x-2 flex-wrap  xl:mx-auto">
            {tags.map((tag) => (
              <li class="flex text-white text-base">{tag}</li>
            ))}
          </ul>
        </span>

        <span class="flex flex-col my-4">
          <h3 class="text-yellow-200/90">Links del Proyecto: </h3>
          {link && (
            <a href={link} class="ml-2 text-white" target="_blank">
              Deploy del Proyecto
            </a>
          )}
          {video && (
            <a href={video} class="ml-2 text-white" target="_blank">
              Video Del Proyecto
            </a>
          )}
          {Github && (
            <a href={Github} class="ml-2 text-white" target="_blank">
              {" "}
              Repositorio del Proyecto{""}
            </a>
          )}
        </span>
      </div>
    </article>
  ))
}
