---
const PROJECTS = [
  {
    title: "Proyecto en proceso actualmente",
    description:
      "Proyecto en el cual estoy trabanjando con un compañero, estamos creando una pagina de microServicios, donde los usuarios se van a poder loguear y comprar (mediante diversos metodos de pago) la cantidad de sesiones o el plan que quieran con duracion de un mes",
    link: "https://autenticos.onrender.com",
    image: "../../autenticos.webp",
    tags: [
      "[HTML]",
      "[CSS]",
      "[React]",
      "[JavaScript]",
      "[Stripe]",
      "[NodeJS]",
      "[Mongoose]",
      "[MongoDB]",
    ],
  },
  {
    title: "Proyecto Individual",
    description:
      "Proyecto de practica Individual donde puse a prueba todos los conocimientos adquiridos anteriormente",
    Github: "https://github.com/NTiago-s/PI-Videogames-Henry",
    image: "../../videoGamesImage.webp",
    tags: [
      "[HTML]",
      "[CSS]",
      "[React]",
      "[JavaScript]",
      "[Redux]",
      "[NodeJS]",
      "[Sequelize]",
      "[PostgresSQL]",
    ],
  },
  {
    title: "Primer Proyecto que realice.",
    description:
      "Es un proyecto con el que comenze aprendiendo las bases tanto de React, JavaScript , Css , HTML. Asi como tambien dando mis primeros pasos en el backend y database .",
    video:
      "https://www.linkedin.com/in/tiago-navarro-30bba2291/recent-activity/all/",
    Github: "https://github.com/NTiago-s/Rick-and-morty-project",
    image: "../../rickimage.webp",
    tags: [
      "[HTML]",
      "[CSS]",
      "[React]",
      "[Redux]",
      "[JavaScript]",
      "[NodeJS]",
      "[Sequelize]",
      "[PostgresSQL]",
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, link, Github, image, tags, video }) => (
    <article class="gap-6 flex mt-6 mb-10 flex-col lg:flex-row justify-center items-center  w-full  lg:w-[1000px] mx-auto">
      <div class="flex flex-col">
        <h3 class="text-2xl lg:text-4xl text-white">
          <span class="text-yellow-200/90">Titulo: </span>
          {title}
        </h3>
        <p class="text-pretty text-base lg:text-xl text-white mt-3">
          {" "}
          <span class="text-yellow-200/90">Descripcion: </span> {description}
        </p>

        <span class="justify-center xl:mx-auto">
          <h3 class="mr-2 mt-4 text-yellow-200/90">Tecnologias Usadas: </h3>
          <ul class="flex gap-x-2 flex-wrap  xl:mx-auto">
            {tags.map((tag) => (
              <li class="flex text-white">{tag}</li>
            ))}
          </ul>
        </span>

        <span class="flex flex-col my-4">
          <h3 class="text-yellow-200/90">Links del Proyecto: </h3>
          {link && (
            <a href={link} class="ml-2 text-white" target="_blank">
              Deploy del Proyecto
            </a>
          )}
          {video && (
            <a href={video} class="ml-2 text-white" target="_blank">
              Video Del Proyecto
            </a>
          )}
          {Github && (
            <a href={Github} class="ml-2 text-white" target="_blank">
              {" "}
              Repositorio del Proyecto{""}
            </a>
          )}
        </span>
      </div>
      <img
        src={image}
        class="w-auto h-auto md:h-80 "
        alt={`Captura de Pantalla del Proyecto ${image}`}
      />
    </article>
  ))
}
