---
import Tailwind from "./icons/Tailwind.astro";
import JavaScript from "./icons/JavaScript.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import React from "./icons/React.astro";
import MongoDB from "./icons/MongoDB.astro";
import Nodejs from "./icons/Nodejs.astro";
import ASTRO from "./icons/ASTRO.astro";
import Postgresql from "./icons/Postgresql.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Prisma from "./icons/Prisma.astro";
import NextJS from "./icons/NextJS.astro";
const TAGS = {
  MongoDB: {
    name: "MongoDB",
    class: "bg-[#10aa50] text-white",
    icon: MongoDB,
  },
  Next: {
    name: "Next",
    class: "bg-white text-black",
    icon: NextJS,
  },
  PrismaDB: {
    name: "Prisma",
    class: "bg-white text-[#133a51ff]",
    icon: Prisma,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7e018] text-black",
    icon: JavaScript,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#e44d26] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#379ad6] text-white",
    icon: CSS,
  },
  React: {
    name: "React",
    class: "bg-[#4ad5ff99] text-white",
    icon: React,
  },

  Nodejs: {
    name: "Nodejs",
    class: "bg-[#46473d] text-[#87cf30]",
    icon: Nodejs,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#ff6209] text-white",
    icon: ASTRO,
  },
  PostgreSQL: {
    name: "PostgreSQL",
    class: "bg-[#33679155] text-white",
    icon: Postgresql,
  },
};

const PROJECTS = [
  {
    title: "Rrotten",
    description:
      "Rrotten es una landing page moderna diseñada para un restaurante. El sitio permite visualizar el menú completo categorizado, con la posibilidad de acceder a un detalle individual de cada plato. Además, incluye secciones informativas como “Sobre nosotros” y “Contacto”, y una integración con Leaflet que muestra la ubicación del local en un mapa interactivo. El diseño es responsive, limpio y orientado a mejorar la experiencia del usuario tanto en dispositivos móviles como de escritorio.",
    link: "https://rrotten.vercel.app/",
    image: "../../rrotten.webp",
    tags: [TAGS.Next, TAGS.TAILWIND, TAGS.HTML, TAGS.CSS],
  },
  {
    title: "WK Services",
    description:
      "WK Services es un proyecto innovador de reparación de electrodomésticos en Coronel Suárez, con una interfaz moderna, un dashboard de gestión de reparaciones y clientes, y un enfoque en la seguridad.",
    link: "https://wk-services.vercel.app",
    image: "../../wkservices.webp",
    tags: [TAGS.Next, TAGS.TAILWIND, TAGS.PrismaDB, TAGS.PostgreSQL],
  },
  {
    title: "Codeluxe",
    description:
      "Emprendimiento realizado para trabajar de forma Freelance brindando servicios de Desarrollo Web FullStack, Edición de Video, Producción Musical, Diseño Gráfico y de Logos y Marketing Digital",
    link: "https://codeluxe.vercel.app/",
    image: "../../codeluxe.webp",
    tags: [TAGS.Next, TAGS.TAILWIND],
  },
  {
    title: "Autenticos",
    description:
      "Proyecto realizado de manera freelance, para facilitar la venta y organización de mentorias. Cuenta con autenticacion de usuarios, esta integrada tambien la pasarela de pago de Mercado Pago facilitando la compra ya que le permite al usuario tener una pre-visualización del precio de la mentoria a comprar, tambien esta implementado una funcionalidad para mantener el precio del dolar actualizado al momento en argentina",
    link: "https://autenticos.onrender.com",
    image: "../../autenticos.webp",
    tags: [
      TAGS.HTML,
      TAGS.React,
      TAGS.JavaScript,
      TAGS.TAILWIND,
      TAGS.Nodejs,
      TAGS.MongoDB,
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, link, image, tags }) => (
    <article class="flex flex-col sm:flex-row gap-6 my-6 w-full">
      <div class="flex flex-col  w-full">
        <img
          src={image}
          alt={title}
          class="sm:w-auto object-cover lg:w-full cursor-pointer rounded-md shadow-md transition-all hover:shadow-xl hover:shadow-white/30"
        />
      </div>
      <div class="flex flex-col justify-center gap-2 sm:max-w-[500px] w-full">
        <h3 class="text-2xl lg:text-2xl text-white">
          <span class="text-yellow-200/90">{title}</span>
        </h3>
        <p class="text-sm lg:text-base text-white text-pretty">{description}</p>
        <span class="">
          <h3 class="mr-2 mt-4 text-yellow-200/90">Tecnologias Usadas: </h3>
          <ul class="flex  flex-wrap flex-row mb-2 gap-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
        </span>
        <span class="flex flex-col my-4">
          <LinkButton target={link ? "_blank" : "_top"} href={link ?? "/"}>
            <Link class="size-4" />
            {link ? "Link del Proyecto" : "Link privado"}
          </LinkButton>
        </span>
      </div>
    </article>
  ))
}
