---
const PROJECTS = [
  {
    title: "Codeluxe",
    description:
      "Emprendimiento realizado junto a un grupo de amigos para trabajar de forma Freelance vendiendo servicios de Desarrollo Web FullStack, Edición de Video, Producción Musical, Diseño Gráfico y de Logos y Marketing Digital.",
    link: "https://codeluxe.tech",
    image: "../../codeluxe.webp",
    tags: ["[Astro]", "[JavaScript]", "[TailwindCSS]"],
  },
  {
    title: "Proyecto Autenticos",
    description:
      "Proyecto realizado con un colega, para facilitar la venta y organización de mentorias. Donde los usuarios van a poder comprar la cantidad de mentorias que necesiten.",
    link: "https://autenticos.onrender.com",
    image: "../../autenticos.webp",
    tags: [
      "[HTML]",
      "[React]",
      "[JavaScript]",
      "[TailwindCSS]",
      "[NodeJS]",
      "[Mongoose]",
      "[MongoDB]",
      "[Mercado Pago API]",
    ],
  },
  {
    title: "Proyecto Individual",
    description:
      "Proyecto de practica Individual donde puse a prueba todos los conocimientos adquiridos anteriormente",
    Github: "https://github.com/NTiago-s/PI-Videogames-Henry",
    image: "../../videoGamesImage.webp",
    tags: [
      "[HTML]",
      "[CSS]",
      "[React]",
      "[JavaScript]",
      "[Redux]",
      "[NodeJS]",
      "[Sequelize]",
      "[PostgresSQL]",
    ],
  },
];
---

{
  PROJECTS.map(({ title, description, link, Github, image, tags }) => (
    <article class="flex flex-col lg:flex-row justify-center items-center gap-6 mt-6 mb-10 w-full lg:w-[1000px] mx-auto">
      <div>
        <h3 class="text-2xl lg:text-2xl text-white mb-4">
          <span class="text-yellow-200/90">{title}</span>
        </h3>
        <img
          src={image}
          alt="imagen proyecto"
          class="max-w-[450px]  w-full md:w-auto h-72 md:h-auto"
        />
      </div>
      <div class="flex flex-col">
        <p class="text-balance text-sm lg:text-base text-white mt-3">
          {description}
        </p>
        <span class="justify-center xl:mx-auto">
          <h3 class="mr-2 mt-4 text-yellow-200/90">Tecnologias Usadas: </h3>
          <ul class="flex gap-x-2 flex-wrap xl:mx-auto">
            {tags.map((tag) => (
              <li class="flex text-white text-base">{tag}</li>
            ))}
          </ul>
        </span>
        <span class="flex flex-col my-4">
          <h3 class="text-yellow-200/90">Links del Proyecto: </h3>
          {link && (
            <a
              href={link}
              class="ml-2 text-white"
              target="_blank"
              rel="noopener noreferrer"
            >
              Deploy del Proyecto
            </a>
          )}
          {Github && (
            <a
              href={Github}
              class="ml-2 text-white"
              target="_blank"
              rel="noopener noreferrer"
            >
              Repositorio del Proyecto
            </a>
          )}
        </span>
      </div>
    </article>
  ))
}
